In [ ]:
n=int(input('Enter a number to find factorial: '))
for i in range(1,n+1):
  if n%i==0:
    print(i)

Enter a number to find factorial: 15
1
3
5
15

In [ ]:
p=int(input('Enter a number to print the multiplication table: '))
for i in range(1,11):
  print(p,'x',i,'=',p*i)

Enter a number to print the multiplication table: 23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

In [ ]:
k=int(input('Enter the range to print fibbonacci series: '))
i=0
j=1
f=0
print('The fibbonacci series will be : ')
while f<k:
  print(i)
  temp=i+j
  i=j
  j=temp
  f+=1

Enter the range to print fibbonacci series: 7
The fibbonacci series will be :
0
1
1
2
3
5
8

In [ ]:
arm=int(input('Enter the number to check whether armstrong number or not: '))
sum=0
temp=arm
while temp>0:
  q=temp%10
  sum=sum+(q*q*q)
  temp=temp//10
if sum==arm:
  print('{} is an Armstrong Number'.format(arm))
else:
  print('{} is not an Armstrong Number'.format(arm))

Enter the number to check whether armstrong number or not: 153
153 is an Armstrong Numer

In [7]:
strt=int(input('Enter the start of the range: '))
end=int(input('Enter the end of the range: '))
for i in range(strt,end+1):
  sum=0
  power=len(str(i))
  l=i
  while l>0:
    y=l%10
    sum=sum+(y**power)
    l=l//10
  if i==sum:
    print(i)

Enter the start of the range: 100
Enter the end of the range: 10000
153
370
371
407
1634
8208
9474

In [9]:
m=int(input('Enter the count of numbers to find the sum: '))
sum=0
for i in range(1,m+1):
  sum=sum+i

print(sum)

Enter the count of numbers to find the sum: 20
210